<div class="container-fluid" ng-controller="SingleContainerController">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<b>Project Information</b>
				</div>
				<div class="panel-body">
					ID: <b>{{id}}</b><br>
					Name: <b>{{projectName}}</b><br>
					Created by: <b>{{owner}}</b><br>
					Created at: <b>{{projectDate}}</b>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<b>Container Information</b>
				</div>
				<div class="panel-body">
					ID: <b>{{containerId}}</b><br>
					Name: <b>{{conName}}</b><br>
					State: <b style='color:green'>{{state}}</b><br>
					Last Started At: <b>{{startedAt}}</b><br>
					Image: <b>{{image}}</b><br>
					Created at: <b>{{created}}</b><br>
					IP Address: <b>{{ipAddress}}</b><br>
					Port: <b>{{port}}</b><br>
					CIDR: <b>{{subnetAddress}}</b><br>
					MAC Address: <b>{{macAddress}}</b><br>
					Restart Count: <b>{{restartCount}}</b><br>
					<p class="graph-bottom-gap">
					<p style="color:grey">
						Last Update From Container: <b>{{lastUpdateFromCon}}</b>
						<br>
						Last Updated: <b>{{lastUpdatedAt}}</b>
					</p>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Other Containers</b></div>
				<div class="panel-body">
					<div class="panel panel-success" ng-repeat="container in containers" ng-hide="areSame(container, containerId)"> <!--NEVER APPLY A FILTER TO THIS $INDEX WILL CAUSE A BUG-->
						<div class="panel-heading"><a href="#/container/{{projectContainerConcat[$index]}}">Container ID: {{container}}</a></div>
						<div class="panel-body">
							<ul>
								<li>Stats</li>
							</ul>
						</div>
					</div>
				</div>						
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Container ID: {{containerId}}  </b><a ng-click="deleteContainer()" class="btn btn-danger btn-sm">Delete</a></div>
				<div class="panel-body">
					<p class="graph-bottom-gap">Date: <b>{{dateTime}}</b>
					<!-- <hr> -->
					<div class="col-md-12 graph-bottom-gap">
						<p style="padding-top: 10px; text-align: center; font-size: 20px;">
							Percentage:
							<b style="color: green" ng-if="cpuPerc <= 60">{{cpuPerc}}%</b>
							<b style="color: orange" ng-if="cpuPerc > 60 && cpuPerc <= 85">{{cpuPerc}}%</b>
							<b style="color: red" ng-if="cpuPerc > 85">{{cpuPerc}}%</b>
						</p>
						<nvd3 options='cpuOptions' data='cpuData'></nvd3>
					</div>
					<div class="col-md-12 graph-bottom-gap">
						<p style="padding-top: 10px; text-align: center; font-size: 20px;">
							Memory Usage/Available: 
							<b style="color: green" ng-if="memPerc <= 60">{{memBytes}}/{{memLimit}}</b>
							<b style="color: orange" ng-if="memPerc > 60 && memPerc <= 85">{{memBytes}}/{{memLimit}}</b>
							<b style="color: red" ng-if="memPerc > 85">{{memBytes}}/{{memLimit}}</b>
							Percentage: 
							<b style="color: green" ng-if="memPerc <= 60">{{memPerc}}%</b>
							<b style="color: orange" ng-if="memPerc > 60 && memPerc <= 85">{{memPerc}}%</b>
							<b style="color: red" ng-if="memPerc > 85">{{memPerc}}%</b>
						</p>
						<nvd3 options='memOptions' data='memData'></nvd3>
					</div>
					<div class="col-md-12 graph-bottom-gap">
						<nvd3 options='bytesOptions' data='bytesData'></nvd3>
					</div>
					<div class="col-md-12 graph-bottom-gap">
						<nvd3 options='packetsOptions' data='packetsData'></nvd3>
					</div>
					<div class="col-md-6 graph-bottom-gap">
						<nvd3 options='droppedOptions' data='droppedData'></nvd3>
					</div>
					<div class="col-md-6 graph-bottom-gap">
						<nvd3 options='errorOptions' data='errorData'></nvd3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>