<div class="container-fluid">
	<div class="row">
		<div class="col-md-6" ng-controller="HomeController">
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Container ID: {{name}}</b></div>
				<div class="panel-body">
					<p>Date: <b>{{date}}</b>   Time: <b>{{time}}</b></p>
					<div class="panel panel-success">
						<div class="panel-heading">CPU</div>
						<div class="panel-body">
							<b>{{cpu}}%</b>
						</div>
					</div>
					<div class="panel panel-warning">
					<div class="panel-heading">Memory</div>
						<div class="panel-body">
							<b>{{mem}}%</b>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6" ng-controller="HomeController">
			<nvd3 options='options' data='data'></nvd3>
		</div>



		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#login-modal">Modal</button>

		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form>
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>
					
				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>



	</div>
</div>