<div class="container-fluid" ng-controller="NewProjectsController">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Create a new project:</b></div>
				<div class="panel-body">
					<form ng-submit="addNewProject()">
						<div class="form-group">
							<input type="text" name="name" placeholder="Name" ng-model="name" required>
						</div>
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>						
			</div>
		</div>
	</div>
</div>