<div class="container-fluid" ng-controller="SingleProjectController">
	<div class="row">
		<div class="alert alert-success" ng-model="status" ng-if="status == 'success'">
  			<strong>Success!</strong> Container was added. Reloading page...
		</div>
		<div class="alert alert-danger" ng-model="status" ng-if="status == 'failure'">
  			<strong>Failure!</strong> Container was not added because it doesn't exist in Influx.
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center; background-color: #34495e; color: white">
					<b class="panel-title">Project Name: {{name}}</b>
					<div class="pull-right">
						<a href="#/edit-project/{{id}}" class="btn btn-success btn-xs" ng-if="loggedInUser.permission == true">Edit</a>
						<a ng-click="deleteProject()" class="btn btn-danger btn-xs" ng-if="loggedInUser.permission == true">Delete</a>						
					</div>
				</div>
				<div class="panel-body" style="background-color: #f5f5f0">
					Id: <b>{{id}}</b><br>
					Created by: <b>{{owner}}</b><br>
					Created on: <b>{{time}} - {{date}}</b>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center; background-color: #34495e; color: white">
					<b>Containers</b>
					<button type="button" class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#addCon-modal" ng-if="loggedInUser.permission == true">Add container</button>
				</div>
				<div class="panel-body" style="background-color: #f5f5f0">
					<input class="form-control input-sm" placeholder="Search" type="text" name="searchContainers" ng-model="searchContainers">
					<br>
					<div class="panel panel-default col-md-4" ng-repeat="container in containers | filter:searchContainers"> <!-- containers -->  <!--NEVER APPLY A FILTER TO THIS $INDEX WILL CAUSE A BUG-->
						<a href="#/container/{{projectContainerConcat[$index]}}"><div class="panel-body">Container ID: {{container}}</div></a>
					</div>
				</div>						
			</div>
		</div>


		<div class="modal fade" id="addCon-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    		<div class="modal-dialog">
				<div class="addConModal-container">
					<h1>Add a container</h1><br>
					<form ng-submit="addContainer()">
						<input type="text" name="conId" placeholder="Container ID" ng-model="conId">
						<input type="submit" name="add" class="addCon addConModal-submit" value="Add" onclick="$('#addCon-modal').modal('hide')">
						<!-- <button type="submit" name="add" class="btn btn-info" data-dismiss="modal">Add</button> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
