<div class="container-fluid" ng-controller="ProjectsController">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center; background-color: #34495e; color: white">
					<b class="panel-title">Projects</b>
					<div class="btn-group pull-right">
						<button ng-click="newProject()" class="btn btn-success btn-xs">New Project</button>
					</div>
				</div>
				<div class="panel-body">
					<input class="form-control input-sm" placeholder="Search" type="text" name="searchProjects" ng-model="searchProjects">
					<br>
					<div class="panel panel-default" ng-repeat="project in projects | filter:searchProjects">
						<div class="panel-heading" style="background-color: #cccccc"><a href="#/project/{{project.id}}">Project Name: {{project.name}}</a></div>
						<div class="panel-body" style="background-color: #f5f5f0">
							<table class="table table-bordered table-striped table-condensed">
								<thead style="background-color: #486684; color: white">
									<tr>
										<td>Id</td>
										<td>Owner</td>
										<td>Containers</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{project.id}}</td>
										<td>{{project.owner}}</td>
										<td>
											<ul>
												<li ng-repeat="container in project.containers">{{container}}</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
</div>