<div class="container-fluid" ng-controller="SingleProjectController">
	<div class="row">
		<div class="alert alert-success" ng-model="status" ng-if="status == 'success'">
  			<strong>Success!</strong> Container was added. Reloading page...
		</div>
		<div class="alert alert-danger" ng-model="status" ng-if="status == 'failure'">
  			<strong>Failure!</strong> Container was not added because it doesn't exist in Influx.
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<b>Project ID: {{id}}</b>
					<a href="#/edit-project/{{id}}" class="btn btn-success btn-sm" ng-if="loggedInUser.permission == true">Edit</a>
					<a ng-click="deleteProject()" class="btn btn-danger btn-sm" ng-if="loggedInUser.permission == true">Delete</a>
				</div>
				<div class="panel-body">
					Name: <b>{{name}}</b><br>
					Created by: <b>{{owner}}</b><br>
					Created on: <b>{{time}} - {{date}}</b>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Containers</b>
					<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addCon-modal" ng-if="loggedInUser.permission == true">Add container</button>
				</div>
				<div class="panel-body">
					<div class="panel panel-success" ng-repeat="container in containers"> <!--NEVER APPLY A FILTER TO THIS $INDEX WILL CAUSE A BUG-->
						<div class="panel-heading"><a href="#/container/{{projectContainerConcat[$index]}}">Container ID: {{container}}</a></div>
						<div class="panel-body">
							<ul>
								<li>Stats</li>
							</ul>
						</div>
					</div>
				</div>						
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Recently Added</b></div>
				<div class="panel-body">
					<div class="panel panel-success" ng-repeat="con in ['098', '2fd']">
						<div class="panel-heading">Container ID: {{con}}</div>
						<div class="panel-body">
							<ul>
								<li>Some stats</li>
							</ul>
						</div>
					</div>
				</div>						
			</div>
		</div>

		<div class="modal fade" id="addCon-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    		<div class="modal-dialog">
				<div class="addConModal-container">
					<h1>Add a container</h1><br>
					<form ng-submit="addContainer()">
						<input type="text" name="conId" placeholder="Container ID" ng-model="conId">
						<input type="submit" name="add" class="addCon addConModal-submit" value="Add" onclick="$('#addCon-modal').modal('hide')">
						<!-- <button type="submit" name="add" class="btn btn-info" data-dismiss="modal">Add</button> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
