<div class="container-fluid" ng-controller="ProjectsController">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Projects</b>
				<button ng-click="newProject()" class="btn btn-success btn-sm">New Project</button>
				</div>
				<div class="panel-body">
					<div class="panel panel-success" ng-repeat="project in projects">
						<div class="panel-heading"><a href="#/project/{{project.id}}">Project ID: {{project.id}}</a></div>
						<div class="panel-body">
							<ul>
								<li>Name: {{project.name}}</li>
								<li>Owner: {{project.owner}}</li>
								<li>Container IDs: {{project.containers}}</li>
							</ul>
						</div>
					</div>
				</div>						
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Recently Added</b></div>
				<div class="panel-body">
					<div class="panel panel-success" ng-repeat="con in ['098', '2fd']">
						<div class="panel-heading">Container ID: {{con}}</div>
						<div class="panel-body">
							<ul>
								<li>Some stats</li>
							</ul>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>