<div class="container-fluid" ng-controller="RegisterController">
	<div class="row" style="padding-top: 50px">
		<div class="col-md-5 col-md-offset-1" style="text-align: center;">
			<img src="../images/Logo.png" alt="Dockerwatch logo" height="275px">
			<br>
			<h1 style="color: #3a8cb3">DockerWatch</h1>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center; background-color: #34495e; color: white"><b>Register</b></div>
				<div class="panel-body">
					<form ng-submit="register()" class="form-group-sm">
						<div class="form-group">
							<label>Name:</label>
							<input type="text" class="form-control" ng-model="name" required="true">
						</div>
						<div class="form-group">
							<label>Username:</label>
							<input type="text" class="form-control" ng-model="username" required="true">
						</div>
						<div class="form-group">
							<label>Password:</label>
							<input type="password" class="form-control" ng-model="password" required="true">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>